{% extends 'base.html' %}
{% block title %}Edit Money Transfer{% endblock %}

{% block extrastyle %}
<style type="text/css">
  td {
    padding: 10px;
  }
</style>
{% endblock %}

{% block content %}
  <h1>Edit money transfer</h1>
  <form id="form" action="/moneytransfer/edit/{{ id }}" method="post">
    <table>
      <tr>
        <td>
          <label for="name">Reason</label>
        </td>
        <td>
          <input name="name" required id="name" type="text" value="{{ data.name }}" />
        </td>
      </tr>
      <tr>
        <td>
          <label for="transferred_when">Transferred when?</label>
        </td>
        <td>
          <input name="transferred_when" required type="date" id="bought_when" value="{{ data.transferred_when }}" />
        </td>
      </tr>
      <tr>
        <td>
          <label for="who_paid">Who paid?</label>
        </td>
        <td>
          <select name="who_paid" id="who_paid">
            {% for roommate in roommates %}
              <option value="{{ roommate.lower() }}" {% if roommate.lower() == data.who_paid.lower() %}selected{% endif %}>{{ roommate }}</option>
            {% endfor %}
          </select>
        </td>
      </tr>
      <tr>
        <td valign="top">
          <label for="to_whom">To whom?</label>
        </td>
        <td>
          <select name="to_whom" id="to_whom">
            {% for roommate in roommates %}
              <option value="{{ roommate.lower() }}" {% if roommate.lower() == data.to_whom.lower() %}selected{% endif %}>{{ roommate }}</option>
            {% endfor %}
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <label for="method">Method</label>
        </td>
        <td>
          <select id="method" name="method">
            {% for method in methods %}
              <option value="{{ method }}" {% if method.lower() == data.method.lower() %}selected{% endif %}>{{ capitalize(method) }}</option>
            {% endfor %}
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <label for="amount">Amount</label>
        </td>
        <td>
          $<input id="amount" name="amount" type="number" min="0" max="5000" step="0.01" value="{{ data.amount }}" required style="max-width: 70px;" />
        </td>
      </tr>
      <tr>
        <td valign="top">
          <label for="additional_info">Additional info</label>
        </td>
        <td>
          <textarea form="form" name="additional_info" id="additional_info">{{ data.additional_info }}</textarea>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <input type="submit" name="delete" value="Delete" class="btn btn-danger" {% if not can_delete %}disabled title="You can only delete your own transfers."{% endif %} />
          <input type="submit" name="save" value="Save" class="btn btn-primary" />
        </td>
      </tr>
    </table>
  </form>
{% endblock %}
