{% extends 'base.html' %}
{% block title %}View money transfer{% endblock %}

{% block content %}
  <h1>Money Transfer ID {{ id }}</h1>
  <table class="table table-striped table-hover">
    <thead>
      <tr><th scope="col">Key</th><th scope="col">Value</th></tr>
    </thead>
    <tbody>
    {% for key, value in money_transfer.items() %}
      <tr>
        <td>{{ capitalize(key.replace("_", " ")) }}</td>
        <td>{{ value }}</td>
      </tr>
    {% endfor %}
  </table>
  <a href="/finance" class="btn btn-primary">&#171; Back</a>
  <a href="/moneytransfer/edit/{{ id }}" class="btn btn-secondary">Edit</a>
{% endblock %}
